
header{
    width: 100%;
    height: auto;
    background-color: transparent;
    padding: .5rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 70px;
}

.logo-container{
    flex: 0 0 auto;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 200px;
    height: auto;
    transition: all 0.3s;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 2.5rem;
    padding: 0;
    margin: 0;
    transition: all 0.3s;
}

.nav-links.scrolled{
    gap: 2rem;
}

.nav-link{
    text-decoration: none;
    font-weight: 600;
    position: relative;
    transition: color 0.3s;
    padding-bottom: 0.3rem;
    font-size: 1rem;

}

.scrolled-link{
    font-size: 0.95rem;
}

.nav-link:hover{
    color: var(--primary-color);
}

.nav-link::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0.125rem;
    bottom: 0;
    left: 0;
    background-color: var(--secondary-color);
    transition: width 0.3s;
    border-radius: 4px;
}

.active-nav-link::after{
    width: 100%;
}

.active-nav-link{
    color: var(--secondary-color);
}

.auth-buttons{
    display: flex;
    gap: 1rem;
}

.btn{
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    border: none;
    outline: none;
    border-radius: 40px;
}

.btn-outline{
    
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.btn-outline:hover {
    background-color: var(--secondary-color);
    color: white;
}

.btn-primary{
    background-color: var(--primary-color);
    color: white;
}

.btn-primary:hover{
    background-color: var(--secondary-color);
    transform: translateY(-2px);
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
}

